#venv
venv/
.venv/

#python cache
__pycache__/
*.pyc
*.pyo

#IDE
.vscode/
.idea/

#OS
.DS_Store
Thumbs.db   

#Logs
logs/
*.log

#Environment variables
.env
 # Downloaded data files (recreatable from sources.txt)
data/

# Local cache from running scripts
.pytest_cache/
.ipynb_checkpoints/

# Mac/Linux temp
*~.env
aws/
awscliv2.zip
